<div>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        matInput
        placeholder="Username"
        formControlName="Username"

      >

    </mat-form-field>

    <span *ngIf="!signupForm.get('Username').valid && signupForm.get('Username').touched"><br>*Enter the correct username</span>


    <br>
    <mat-form-field>
      <input
        matInput
        placeholder="Email"
        formControlName="Email">
    </mat-form-field>
    <span *ngIf="!signupForm.get('Email').valid && signupForm.get('Email').touched"><br>*Enter the correct username</span>
    <br>
    <mat-form-field>
      <input
        matInput
        placeholder="Password"
        formControlName="Password"
        type="password"
      >
    </mat-form-field>
    <br>
    <button
      mat-raised-button
      type="submit"
    >SIGNUP</button>
    <br><br>
    <button
      mat-raised-button
      routerLink="/login"
    >
      LOGIN
    </button>
  </form>
</div>
