<div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        matInput
        placeholder="Username"
        formControlName="Username"

      >
      <mat-error *ngIf="!loginForm.get('Username').valid && loginForm.get('Username').touched">Enter the correct username</mat-error>
    </mat-form-field>

    <br>
    <mat-form-field>
      <input
        matInput
        placeholder="Email"
      formControlName="Email">
      <mat-error *ngIf="!loginForm.get('Email').valid && loginForm.get('Email').touched">*Enter the correct Email</mat-error>
    </mat-form-field>

    <br>
    <mat-form-field>
      <input
        matInput
        placeholder="Password"
        formControlName="Password"
        type="password"
      >
    </mat-form-field>
    <br>
    <button
      mat-raised-button
      type="submit"
      >LOGIN</button>
    <br><br>
    <button
      mat-raised-button routerLink="/signup"

    >
      SIGNUP
    </button>
  </form>
</div>
